@CHARSET "UTF-8";

.blurb-close-btn, .nice-notify-blurb-close-btn, .error-notify-blurb-close-btn {
	position: absolute;
	top: 3px;
	right: 3px;
	background-image: url("x_btn.png");
	opacity: 0.6;
	height: 12px;
	width: 12px;
	z-index: 3px;
}

.error-notify-blurb-close-btn {
	background-image: url("x_btn_error.png");
}

.blurb-close-btn:hover, .nice-notify-blurb-close-btn:hover, .error-notify-blurb-close-btn:hover{
	cursor: pointer;
	opacity: 1;
	background-image: url("x_btn_over.png")	
}

.error-notify-blurb-close-btn:hover {
	background-image: url("x_btn_error_over.png")	
}

.nice-notify, .error-notify {
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 20px 5px 20px;
	text-shadow: 1px 1px white;
	font-size: 0.84em;
}
		
.error-notify {
	background-color: #FFDDDD;
	color: #993737;
	border: 1px solid #ECB5B5;
	border-bottom: 1px solid #B96D6D;
}
	
	
	